.LoginTable {
    border: none;
    
}

.registerForm {
    background-color : black;
    color: red ;    
    padding-top: '12px';
    padding-bottom: '12px';
    position: 'relative';
    //left: 'auto'
}